.workout {
    margin: 10px;
    padding: 10px;
    border: 1px solid #bbb;
    background-color: #eee;
  }
  
  .workout span {
    font-size: 1.2em;
    text-decoration: none;
    color: #333;
  }

  table{
      margin-left: auto;
      margin-right: auto;
  }