.workoutTable {
  font-family: 'Open Sans', sans-serif;
}

.workoutTable ul {
  list-style-type: none;
  margin: 0 auto;
}

.movement {
  width: 251px;
}

.sets {
  width: 135px;
}


td input {
  width: 30px;
  height: 30px;
}

.movementText {
  color: #AC3741;
}