.main-content {
  display: grid;
  grid-template-columns: 150px auto 150px;
}

.key {
  max-width: max-content;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.workout {
    font-family: 'Open Sans', sans-serif;
    margin-left: auto;
    margin-right: auto;
}

.myStyle {
  margin-left: auto;
  margin-right: auto;
}

.ui.table {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.workout span {
  font-size: 1.2em;
  text-decoration: none;
  color: #333;
}

.ui.table thead th {
    background: #F9DEC9;
}

/*.ui.table, .ui.table td, .ui.table tr, .ui.table th {
    border: 1px solid #99B2DD;
}*/
