.main-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.key {
  max-width: max-content;
  height: max-content;
  margin: 10px auto;
  border: 1px solid #AC3741;
  padding: 10px;
  border-radius: 5px;
}

.key h4 {
  color: #AC3741;
  border-bottom: 1px solid #AC3741;
}

.workout {
    font-family: 'Open Sans', sans-serif;
    margin-left: auto;
    margin-right: auto;
}

.myStyle {
  margin-left: auto;
  margin-right: auto;
}

.ui.table {
  max-width: 600px;
  margin: 20px auto;
  text-align: center;
}

.workout span {
  font-size: 1.2em;
  text-decoration: none;
  color: #333;
}

.ui.table thead th {
    background: #F9DEC9;
}

/*.ui.table, .ui.table td, .ui.table tr, .ui.table th {
    border: 1px solid #99B2DD;
}*/
