.workout {
    font-family: 'Open Sans', sans-serif;
    margin-left: auto;
    margin-right: auto;
}

.myStyle {
  margin-left: auto;
  margin-right: auto;
}

.ui.table {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}
.workout span {
  font-size: 1.2em;
  text-decoration: none;
  color: #333;
}

.ui.table thead th {
    background: #99B2DD;
    color: #F9DEC9
}

/*.ui.table, .ui.table td, .ui.table tr, .ui.table th {
    border: 1px solid #99B2DD;
}*/
